/.UiTestDescriptionLabelProvider.java._trace
/.UiTestDescriptionLabelProvider.xtendbin
/.UiTestLabelProvider.java._trace
/.UiTestLabelProvider.xtendbin
/UiTestDescriptionLabelProvider.java
/UiTestLabelProvider.java
